/*
Theme Name: xMag
Description: Used to style blocks.
*/

/* 
 * 01: Common Blocks
 */

/* Paragraph */

p.has-drop-cap:not(:focus)::first-letter {
	font-size: 5em;
	margin-top: 0.15em;
}

/* Captions */

[class^="wp-block-"] figcaption {
	display: block;
	margin: 10px 0 0;
	font-size: 14px;
	font-style: italic;
	color: #777;
	line-height: 1.5;
	box-sizing: border-box;
}

/* Image */

.wp-block-image {
	margin-bottom: 20px;
}

.wp-block-image img {
	display: block;
}

.wp-block-image .alignleft,
.wp-block-image .alignright {
	margin: 0 auto 20px;
}

.wp-block-image .aligncenter {
	clear: both;
	margin: 20px auto;
}

@media screen and (min-width: 480px) {
	.wp-block-image .alignleft {
	margin: 0 25px 20px 0;
	}
	.wp-block-image .alignright {
	margin: 0 0 20px 25px;
	}
}

/* Cover */

.wp-block-cover-image,
.wp-block-cover {
	margin: 20px auto;
}

/* Gallery */

.wp-block-gallery {
	margin-left: 0;
}

.wp-block-gallery li {
	padding: 0;
}

/* Quote */

.wp-block-quote.is-style-large, 
.wp-block-quote.is-large {
	margin: 0 0 20px;
	padding: 10px 20px;
}

/* Audio */

.wp-block-audio audio {
	display: block;
	width: 100%;
}

/* 
 * 02: Formatting
 */

/* Code */

.wp-block-code {
	border: 0;
	background-color: transparent;
	padding: 0;
}

/* Pullquote */

.wp-block-pullquote {
	margin: 20px 0;
    padding: 20px 0;
    border: 0;
}

.wp-block-pullquote blockquote {
	border-left: 0;
	margin: 0;
	padding: 0;
}

.wp-block-pullquote cite {
	color: #999;
}

.wp-block-pullquote.is-style-solid-color blockquote cite {
	font-size: 16px;
}

/* Verse */

pre.wp-block-verse {
	white-space: pre-wrap;
}

/* 
 * 03: Layout Elements
 */

/* Buttons */

.wp-block-button {
	margin-bottom: 20px;
}

.wp-block-button__link {
	padding: 5px 20px;
	background: #333333;
	color: #fff;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

/* Media & Text */

.wp-block-media-text {
	margin-bottom: 30px;
}

.wp-block-media-text *:last-child {
	margin-bottom: 0;
}

/* Separator */

.wp-block-separator,
.wp-block-separator.is-style-wide {
	border: 0;
}

.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
	max-width: 100px;
	height: 2px;
}

/* 
 * 04: Widget Blocks
 */

/* Archives, Categories & Latest Posts */

.wp-block-archives.aligncenter,
.wp-block-categories.aligncenter,
.wp-block-latest-posts.aligncenter {
	list-style-position: inside;
	text-align: center;
}

/* Latest Comments */

.wp-block-latest-comments__comment-meta {
	font-size: 16px;
	font-size: 1rem;
}

/* 
 * 05: Colors & Font sizes
 */

.entry-content .has-dark-gray-color {
	color: #222;
}

.entry-content .has-medium-gray-color {
	color: #333;
}

.entry-content .has-gray-color {
	color: #555;
}

.entry-content .has-light-gray-color {
	color: #999;
}

.entry-content .has-white-color {
	color: #fff;
}

.entry-content .has-dark-gray-background-color {
	background-color: #222;
}

.entry-content .has-medium-gray-background-color {
	background-color: #333;
}

.entry-content .has-gray-background-color {
	background-color: #555;
}

.entry-content .has-light-gray-background-color {
	background-color: #999;
}

.entry-content .has-white-background-color {
	background-color: #fff;
}

.has-small-font-size {
	font-size: 14px;
}

.has-regular-font-size {
	font-size: 16px;
}

.has-large-font-size {
	font-size: 24px;
	line-height: 1.25;
}

.has-larger-font-size {
	font-size: 32px;
	line-height: 1.25;
}