/*
Theme Name: xMag
Description: Used to style the TinyMCE editor.
*/

body {
	max-width: 740px;
	margin: 20px 40px;
	text-rendering: optimizeLegibility;
	vertical-align: baseline;
}

body,
button,
input,
select,
textarea {
	color: #333;
	font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.65;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	margin: 20px 0 10px;
	font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
	color: #222;
}

h1 {
	font-size: 2em; /* 32px */
	font-weight: 400;
	line-height: 1.25;
}

h2 {
	font-size: 1.5em; /* 24px */
	line-height: 1.25;
}

h3 {
	font-size: 1.25em; /* 20px */
	font-weight: 700;
	line-height: 1.4;
}

h4 {
	font-size: 0.875em; /* 14px */
	font-weight: 700;
	text-transform: uppercase;
	line-height: 1.4;
}

h5,
h6 {
	margin: 10px 0 5px;
	font-size: 1em;
	font-weight: 700;
}

p {
    margin: 0 0 20px;
    line-height: 1.65;
}

a {
	color: #e54e53;
	text-decoration: none;
}

a:hover {
	color: #e54e53;
	text-decoration: underline;
}

b,
strong {
	font-weight: 700;
}

small {
	font-size: 75%;
}

big {
	font-size: 125%;
}

/* Elements */

hr {
	height: 1px;
	max-width: 100%;
	border: 0;
	background-color: #eee;
	margin: 20px auto;
}

img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}

ul, ol {
	margin: 0 0 20px 20px;
	padding: 0 0 0 20px;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

ul li,
ol li {
	margin: 0 0 5px 0;	
}

li > ul,
li > ol {
	margin-bottom: 0;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	border-left: 5px solid #e54e53;
	color: #555;
	margin: 0 0 20px;
	padding: 10px 20px;
	font-style: italic;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

blockquote p {
	margin: 0 0 10px;
}

blockquote cite {
	color: #999;
	font-size: 14px;
    font-size: 0.875rem;
}

address {
	margin: 0 0 10px;
}

pre {
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 1em;
	line-height: 1.65;
	margin-bottom: 20px;
	max-width: 100%;
	overflow: auto;
	padding: 10px;
	border: 1px solid #ddd;
    white-space: pre-wrap;
    word-wrap: break-word;	
}

code {
	padding: 0.125em;
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 14px;
	background-color: #f2f2f2;
    border: 0;
    -webkit-border-radius: 2px;
	border-radius: 2px;
}

embed,
iframe,
object {
	max-width: 100%;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0 0 20px;
	width: 100%;
}

td,
th {
	padding: 10px;
	border: 1px solid #ddd;
}

th {
	font-weight: 700;
}

/* Alignments */

.alignleft {
	float: left;
	margin: 0 25px 5px 0;
}

.alignright {
	float: right;
	margin: 0 0 5px 25px;
}

.aligncenter {
	clear: both;
	display: block;
	margin: 20px auto;
}

/* Gallery */

.gallery {
	margin: 0 -10px 20px;
}

.gallery-item {
	display: inline-block;
	padding: 0 10px;
	margin: 0 0 20px 0;
	text-align: center;
	vertical-align: top;
	width: 100%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.gallery-item img {
	display: block;
	max-width: 100%;
	height: auto;
	border: none;
}

.gallery-icon img {
	display: block;
	max-width: 100%;
	height: auto;
	margin: 0 auto;
	border: none;	
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

/* Captions */

.wp-caption {
	border: 0;
	max-width: 100%;
	margin-bottom: 10px;
}

.wp-caption-text,
.gallery-caption {
	display: block;
	margin: 10px 0 0;
	font-size: 14px;
	font-style: italic;
	color: #777;
	line-height: 1.5;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0;
}
